{% extends 'road_signs_repair/base.html' %}

{% block title %}
  Login page
{% endblock %}

{#TODO: Change web design#}
{% block header %}
  <p class="text-start">Sing in</p>
{% endblock %}

{% block navigation_bar %}

{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>Your username or password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please Sign in with an account that as access.</p>
    {% else %}
      <p>Please Sign in to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p>If you lose your password, please contact the administrator</p>
{% endblock %}